body{
    background-color: rgb(39, 11, 58 )!important;
}

img {
    right: 10px;
}

#laranja {
    position: absolute;
    z-index: -1;
    width: 95vh;
    left: 150px;
    top: -2rem;
    animation: go-back 1s infinite alternate;
}

.topo{
    display: flex;
    justify-content: space-evenly;
}

h1 {
    color: #bcb9bf;
    align-self: center;
}

#emailHelp, #passwordHelp, label{
    color:#FFF;
}

input {
    background-color: transparent!important;
    color:rgb(102, 27, 86)!important;
}

button {
    color: #FFF!important;
}

input:hover {
    color: rgb(179, 217, 217);
}

section {
    width: 500px!important;
    margin: 30px auto;
    background-color: rgba(113, 41, 180, 0.35);
    box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border:1px solid rgb(255, 255, 255, 0.18);
}

img {
    width: 100%;
}

.logo {
    width: 20px;
}

.linha {
     border-top: 4px solid rgb(255, 255, 255);
     width: 130px;
     margin-left: 6px;
 
}

@keyframes go-back {
    from {
            transform: translateY(40px);
    }
    to {
            transform: translateY(20px);
    }
}

@media (max-width: 700px){

    section {
        width: 100vh;
        height: 100vh;
        margin: 0;
    }
    #laranja {
        overflow:hidden;
        background-size: cover;

    }
}

